{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <footer class="footer">
    <div class="container footer__inner">
      <span>© <span data-year>2026</span> Nexo — учебный шаблон</span>
      <nav class="footer__links">
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'login-page' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
        <a href="{% url 'profile' %}">Профиль</a>
      </nav>
    </div>
  </footer>
</body>
</html>